@model comeagua.Models.RegisterViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>comeagua</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StylesHomePage.css")


</head>
<!--Header da parada-->

<body>
    <header>
        <div class="logo">
            <img id="logo_id" src="~/assets/logo.png">
        </div>
        <div>
            <form class="example" @*action="~/Home/SearchPage*@ ">
                <input type="text" placeholder="Aonde você deseja ir?" id="busca" name="busca">
            </form>
        </div>
    </header>
    <div class="retangle">

     </div>

        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <div class="dropdown">
                    <button class="dropbtn"> <font class="txt_suaconta">Sua conta</font> </button>
                    <div class="dropdown-content">

                        @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                        <p class="nome_profile">@User.Identity.GetUserName()</p>
                        <img class="image_profile" src="@ViewBag.ImageProfile" />
                        <a class="logoff" href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a>
                    </div>
                </div>
            }
        }
        else
        {
            <i>
            </i>
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        }

</body>

<style>
    body {
        overflow-x: hidden;
        margin:0;

    }
    form.example input[type=text] {
        position: absolute;
        padding: 15px;
        font-size: 20px;
        font-family: sans-serif;
        border: 3px solid Black;
        float: left;
        width: 500px;
        background: white;
        margin-top: 600px;
        margin-left: 400px;
        border-radius: 30px;
        font-family: Poppins, Helvetica, sans-serif;
        outline: 0;
    }

    form.example button {
        position: absolute;
        float: left;
        width: 80px;
        padding: 10px;
        background: Orange;
        color: white;
        font-size: 30px;
        border-left: none;
        cursor: pointer;
        margin-top: 600px;
        margin-left: 905px;
        border-radius: 30px;
    }
    #logo_id {
        width: 150px;
        margin-top: 5px;
        position: absolute;
    }
    .retangle {
        position: absolute;
        background-color: orange;
        width: 1600px;
        height: 550px;
        margin-top: 200px;
        justify-content: center;
        align-items: center;
    }
</style>