@model comeagua.Models.RegisterViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>comeagua</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/StylesHomePage.css" type="text/css">
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StylesHomePage.css")


</head>
<!--Header da parada-->
<body>
    <header>
        <div class="logo">
            <img id="logo_id" src="assets/logo.png">
            <img id="beer_id" src="assets/Beer.png">
        </div>

    </header>
    <form class="example" action="~/Home/SearchPage">
        <input type="text" placeholder="Aonde você deseja ir?" id="busca" name="busca">
        @* <p> @ViewBag.Log</p>*@
        <a href="~/Views/Home/SearchPage"><button type="submit"><i class="fa fa-search"></i></button></a>
        @*@Html.ActionLink("Buscar", "SearchPage", "Home",  "teste" )*@
    </form>
    <section>
        <p class="Text"> <font class="Text_title"><b>Encontre o bar perfeito para você!!</b></font>  </p>
        <p class="Text_desc"> <font color="gray"> Pesquise diferentes lugares de Salvador e descubra diferentes bares, diferentes pessoas e diferentes experiências.</p>
    </section>
    <div class="retangle">
        <img id="beer2_id" src="assets/beer2.png">
        <p><font class="Text_event" color="white"><b>Crie seu evento: </b></font> </p>

        <form class="example" action="~/Home/Evento">
            <a href="/Home/Evento">
                <img id="criar_evento_id" src="assets/criar_evento.png">
            </a>
        </form>
                <p><font class="text_desc_criar_evento">Mostre aos seus amigos novos <br />bares e marque com a galera <br />de se encontrar em algum lugar !!! </font></p>
    </div>
    <img src="assets/equipe.png" id="equipe_id">
    <a href="https://github.com/caiosmendes96"><img src="assets/caio.jpg" id="img_caio_id"></a>
    <a href="https://github.com/lisazevedo"><img src="assets/lis.jpg" id="img_lis_id"></a>
    <a href="https://github.com/Le4o"><img src="assets/leo.jpg" id="img_leo_id"></a>
    <p class="caio_equipe">caiosmendes96</p>
    <p class="lis_equipe">lisazevedo</p>
    <p class="leo_equipe">Le4o</p>
    <img id="copyright_id" src="assets/copyright.png">

    <img class="ball" src="assets/ball.png">
    <img class="ball2" src="assets/ball.png">
    <img class="ball3" src="assets/ball.png">

    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <div class="dropdown">
                <button class="dropbtn"> <font class="txt_suaconta">Sua conta</font> </button>
                <div class="dropdown-content">             
                    <p class="nome_profile">@User.Identity.GetUserName()</p>
                    <img class="image_profile" src="@ViewBag.ImageProfile" />
                    <a  class ="logoff" href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a>
                </div>
            </div>
        }
    }
    else
    {

            <div class="login">
                @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
    }
</body>
</html>

<style>
    body {
        overflow-x: hidden;
    }
    #copyright_id {
        position: absolute;
        margin-top: 2000px;
        width: 150px;
    }

    #loginLink {
        position: absolute;
        font-family: Poppins;
        color: orange;
        margin-top: -7%;
        margin-left: 35%;
        font-size: 130%;
        border: 2px solid;
        border-radius: 30px;
        padding: 6px;
    }
        #loginLink:hover {
            color: lightcoral;
            text-decoration: none;
        }
    .dropbtn {
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 30px;
        background-color: white;
        border-style: solid;
        border-color: orange;        
        left: 500px;       
    }    
    .dropdown {
        position: relative;
        display: inline-block;
        left: 500px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;      
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        float:right;
        width: 300px;
    }
    .dropdown-content a {
            color: orange;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 300px;
        }          
    .dropdown-content a:hover {
                background-color: white;
            }
    .dropdown:hover .dropdown-content {
        display: block;
    }
  
    .dropdown:hover .dropbtn {
        color: lightcoral;
    }

    .txt_suaconta{
        color: orange;
    }
    .nome_profile{
        max-width: 100px;
        font-size: 50px;
    }
    .image_profile{
        max-width: 300px;       
    }
    .logoff{
       
    }
    #beer_id{       
        margin-left: 950px;
        width: 500px;
        margin-top: -70px;
        position:absolute;
    }
    #logo_id {
        position: absolute;
        width: 150px;
        margin-top: 0px;
    }
    .Text_title {
        color: black;
        font-family: sans-serif;
        font-size: 30px;
        margin-top: 320px;
        margin-left: 50px;
        position:absolute;
      
    }

    .Text_desc {
        margin-top: 400px;
        margin-left: 50px;
        font-size: 30px;
        font-family: sans-serif;
        position: absolute;
    }
    .Text_event {
        position: absolute;
        font-family: sans-serif;
        font-size: 30px;
        margin-left: 700px;
        margin-top: 120px;      
    }
    #criar_evento_id {
        position: absolute;
        margin-top: 90px;
        margin-left: 1000px;
        width: 250px;
    }
    .retangle {
        position: absolute;
        background-color: orange;
        width: 1600px;
        height: 550px;
        margin-top: 800px;
        justify-content: center;
        align-items: center;
    }
    #beer2_id {
        position: absolute;
        width: 500px;
        margin-top: 90px;
        margin-left: 15px;
    }
    .text_desc_criar_evento {
        position: absolute;
        color: white;
        font-size: 40px;
        margin-top: 250px;
        margin-left: 650px;
       
    }
    form.example input[type=text] {
        position: absolute;
        padding: 15px;
        font-size: 20px;
        font-family: sans-serif;
        border: 3px solid Black;
        float: left;
        width: 500px;
        background: white;
        margin-top: 600px;
        margin-left: 400px;
        border-radius: 30px;
        font-family: Poppins, Helvetica, sans-serif;
        outline: 0;
    }

    form.example button {
        position: absolute;
        float: left;
        width: 80px;
        padding: 10px;
        background: Orange;
        color: white;
        font-size: 30px;
        border-left: none; 
        cursor: pointer;
        margin-top: 600px;
        margin-left: 905px;
        border-radius: 30px;
    }
        form.example button:hover {
        }

    /* Clear floats */
    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
    #login_id {
        position: absolute;
        width: 50px;
        margin-top: 10px;
    }
    .login{
        position:absolute;
        margin-top:15px;
        margin-left: 500px;
    }

    #equipe_id {
        position: absolute;
        margin-left: 600px;
        margin-top: 1400px;
    }

    #img_caio_id {
        position: absolute;
        margin-left: 350px;
        margin-top: 1600px;
        border-radius: 50%;
        width: 150px;
    }

    #img_lis_id {
        position: absolute;
        margin-left: 600px;
        margin-top: 1600px;
        border-radius: 50%;
        width: 150px;
    }

    #img_leo_id {
        position: absolute;
        margin-left: 850px;
        margin-top: 1600px;
        border-radius: 50%;
        width: 150px;
    }

    .caio_equipe {
        position: absolute;
        color: gray;
        margin-left: 330px;
        margin-top: 1750px;
    }

    .lis_equipe {
        position: absolute;
        color: gray;
        margin-left: 600px;
        margin-top: 1750px;
    }

    .leo_equipe {
        position: absolute;
        color: gray;
        margin-left: 900px;
        margin-top: 1750px;
    }

</style>
