<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>comeagua</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/StylesHomePage.css" type="text/css">
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StylesHomePage.css")


</head>
<!--Header da parada-->
<body>
    <header>
        <div class="logo">
            <img id="logo_id" src="assets/logo.png">
            <img id="beer_id" src="assets/Beer.png">
            <nav>
                <ul class="container-fluid">
                    <a class="btns_header" href="#"><img id="suaconta_id" src="assets/suaconta.png"></a>
                </ul>
            </nav>
        </div>
    </header>
    <form class="example" action="~/Home/SearchPage">
        <input type="text" placeholder="Aonde você deseja ir?" id="busca" name="busca">
        @* <p> @ViewBag.Log</p>*@
        <a href="~/Views/Home/SearchPage"><button type="submit"><i class="fa fa-search"></i></button></a>
        @*@Html.ActionLink("Buscar", "SearchPage", "Home",  "teste" )*@
    </form>
    <section>
        <p class="Text"> <font class="Text_title"><b>Encontre o bar perfeito para você!!</b></font>  </p>
        <p class="Text_desc"> <font color="gray"> Pesquise diferentes lugares de Salvador e descubra diferentes bares, diferentes pessoas e diferentes experiências.</p>
    </section>
    <div class="retangle">
        <img id="beer2_id" src="assets/beer2.png">
        <p><font class="Text_event" color="white"><b>Crie seu evento: </b></font> </p>
        <a href="#">
            <img id="criar_evento_id" src="assets/criar_evento.png"> <a />
            <p><font class="text_desc_criar_evento">Mostre aos seus amigos novos <br />bares e marque com a galera <br />de se encontrar em algum lugar !!! </font></p>
    </div>
    <img src="assets/equipe.png" id="equipe_id">
    <a href="https://github.com/caiosmendes96"><img src="assets/caio.jpg" id="img_caio_id"></a>
    <a href="https://github.com/lisazevedo"><img src="assets/lis.jpg" id="img_lis_id"></a>
    <a href="https://github.com/Le4o"><img src="assets/leo.jpg" id="img_leo_id"></a>
    <p class="caio_equipe">caiosmendes96</p>
    <p class="lis_equipe">lisazevedo</p>
    <p class="leo_equipe">Le4o</p>
    <img id="copyright_id" src="assets/copyright.png">

    <img class="ball" src="assets/ball.png">
    <img class="ball2" src="assets/ball.png">
    <img class="ball3" src="assets/ball.png">

    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

        
                @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

                <a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a>
              
                }
                }
         else
          {
               
                    @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    }
           

        </body>
</html>

<style>
    #loginLink {
        position: absolute;
        font-family: Poppins;
        color: orange;
        margin-top: -7%;
        margin-left: 35%;
        font-size: 130%;   
        border: 2px solid;
        border-radius: 30px;
        padding: 6px;
    }

        #loginLink:hover {
            color: lightcoral;
            text-decoration: none;
        }

</style>
