<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>comeagua</title>
    <link rel="stylesheet" href="../../Content/StylesHomePage.css" type="text/css">
    <link rel="stylesheet" href="../../Content/styles_mappage.css" type="text/css">

    @Styles.Render("~/Content/StylesHomePage.css")
    @Styles.Render("~/Content/styles_mappage.css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <div class="logo1">
            <a href='@Url.Action("Index", "Home")'>
                <img class="logo_id" src='@Url.Content("~/assets/logo.png")' />
            </a>
        </div>
    </header>
    <p id="res">Resultados para: @ViewBag.Busca</p>
    <div id="map"></div>
    <script>
        var map;
        var service;
        var infowindow;
        var pp = "@ViewBag.Busca";
        var listPlaces = [];

        function initialize() {
            var latitude;
            var longitude;

            var geocoder = new google.maps.Geocoder();
            var _address = pp + " - Salvador";

            geocoder.geocode({ 'address': _address }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = parseFloat(results[0].geometry.location.lat());
                    longitude = parseFloat(results[0].geometry.location.lng());

                    var place = new google.maps.LatLng(latitude, longitude);
                    //console.log(place);

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: place,
                        zoom: 17
                    });

                    var request = {
                        location: place,
                        radius: '400',
                        type: ['bar']
                    };

                    service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request, callback);

                } else {
                    alert("Local não encontrado");
                    return;
                }

            });
        }

        function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    var place = results[i];
                    createMarker(results[i]);

                    listPlaces.push(place);
                }

            }
        }

        function createMarker(place) {
            var marker = new google.maps.Marker({
                map: map,
                icon: '../../assets/logoc.png',
                title: place.name,
                animation: google.maps.Animation.DROP,
                position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });
        }
        //console.log(listPlaces);

        function createTable(data) {
            var html = '';
            html += '<ol>';
            html += '<table class="data">';
            console.log(data.length);
            for (var i = 0; i < data.length; i++) {
                html += '<li>'
                html += data[i].name;
                html += '</li>';
                if (data[i].opening_hours != undefined && data[i].opening_hours.open_now) {
                    html += '<li style="color: #F69D1D">Aberto agora!</li>';
                }
                else {
                    html += '<li style="color: RED ">Fechado</li>';
                }
                if (data[i].rating != undefined) {
                    var fstars = data[i].rating;
                    html += '<img style="width: 1.2%" src="../../assets/star.png"></img>';
                    html += '<li style="font-size: 15px">' + fstars + '</li>';
                }
                html += '<p>';
                html += data[i].vicinity;
                html += '</p>';

                html += '<br/>';
            }
            html += '</ol></table>';
            return html;
        }

        function insertHTML(id, html) {
            var el = document.getElementById(id);

            if (!el) {
                alert('Elemento não encontrado');
            }

            el.innerHTML = html;
        }

        function run() {

            var html = createTable(listPlaces);

            insertHTML('tabledata', html);
        }

        window.onload = run;
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW8TfRA01eXKqE49NioETqvyDdw5W_zyQ&libraries=places&callback=initialize"
            async defer></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/geocode/json?address=_adress&key=AIzaSyCW8TfRA01eXKqE49NioETqvyDdw5W_zyQ"></script>
    @using comeagua.Graph
    @{
        Graph g = new Graph();
    }
    <div id="best_pub">
        <a style="color: red">Este Bar possui eventos marcados para hoje: </a>
        <a style="color: black">@g.BestPub(ViewBag.Busca)</a>
    </div>
    <div id="tabledata"></div>
</body>
</html>
<style>

    #best_pub{
        margin-left: 48px;
        margin-top: 24px;
        margin-bottom: 44px;
    }

    #map {
        height: 50%;
        margin-top: 10px;
    }

    .logo1{
        margin-top: 0px;
    }
    #res{
        margin: 0%;
        width:20%;
    }
    .x {
        position:absolute;
        color: orange;
        font-family: Poppins;
        margin-left: 15%;
        margin-top: -5%;
        z-index:10;
    }
    .text {
        position: absolute;
        color: orange;
        font-family: Poppins;
        margin-left: 20%;
        margin-top: -5%;
        z-index: 10;
    }

    .action{
        color:orange;
    }

    #tabledata{
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 16px;
    }
    
    #tabledata li{
        margin-right: 3%;
        font-size: 20px;
    }

    #tabledata p{
        margin-top: 0.6%;
        font-size: 14px;
        color: #D3D3D3;
    }

    #tabledata img{
        margin-left: 4px;
        margin-right: 4px;
    }
</style>
